vtu {display: block;}
student {display: block; background-color: lightblue; margin-bottom: 9pt;}
name {display: block; color: blue;}
usn {display: block; background-color: yellow;}
college {display: block; font-size: 12pt; color: brown;}
branch {display: block;}
yoj {display: block; }
email {display: block; font-family: sans-serif; color: blue}